doctype 5
html(lang="en")
  head
    block title
      title Title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", type="text/css", href="/static/css/screen.css", media="screen")

  body
    div.container#wrap
      include partials/messages
      block content
    block scripts
